

@font-face {
  font-family: 'Snell Roundhand';
  src: url('fonts/snellroundhand_black.otf') format('otf');   
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@media (min-width: 1824px) {
    .wp-block-lazyblock-lth-slider {
        /* max-width: 1824px; */
    }
}
.wp-block-lazyblock-lth-slider{
	/* padding: 0 20px 0 42px; */
}

@media (min-width: 1824px) {
    .navigation-container {
        max-width: 1824px;
    }
}


a {
	text-decoration: none;
}
ul {
	padding-left: 0;
}
ul:last-child {
	margin-bottom: 0;
}
p:last-child {
	margin-bottom: 0;
}
.penci-page-header,
.container {
	/* max-width: 1210px; */
	/* padding: 0 15px; */
}
.penci-page-header {
	margin: 0 auto;
	margin-bottom: 15px;
}
.wrapper-boxed .container-default-page {
	padding: 0;
	margin-top: 21px;
}
.container-fluid {
	padding: 0;
}
.wp-block-columns {
	margin-bottom: 0;
}
.entry-content hr {
	background: #c70039;
}
.swiper {
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	/* height: 640px; */
}
.swiper .swiper-arrow:after {
	display: none;
}
.swiper .swiper-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: block;
	background-image: url(../images/03.png);
	background-repeat: no-repeat;
	left: 42px;
}
.swiper .swiper-arrow.swiper-next {
	background-image: url(../images/04.png);
	left: auto;
	right: 42px;
}
.swiper-brands .swiper-pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet-active {
	width: 11px;
	height: 11px;
	background-color: #FEC769;;
}
.swiper .content-image {
	text-align: center;
}
.lth-slider .container-fluid {
	overflow: hidden;
	/* width: 1824px; */
}
.module_slider {
	margin-top:0px;
}
.module_slider img {
	width: 100%;
	min-height: 240px;
	object-fit: cover;
}
.module_slider .item {
	position: relative;
}
.module_slider .module_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 31px;
}
.module_slider .group-box {
	background-color: rgba(17, 17, 17, 0.8);
	padding: 32px 47px 44px 24px;
	max-width: 552px;
	display: none;
}
.module_slider .group-box p {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 8px;
}
.module_slider .group-box .text-title p {
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}
.module_slider .group-box .text-top p {
	text-transform: uppercase;
	margin-bottom: 13px;
}
.module_slider .group-box .text-bottom {	
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 8px;
}
.module_slider .group-box .text-bottom p {
	margin-bottom: 0;
}
.module_slider .group-box a {
	font-size: 15px;
	line-height: 24px;
	color: #FAB745;
}
.module_video .content-video a {
	position: relative;
	display: block;
}
.module_video .content-video a:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(29,34,41,0.5);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}
.module_video .content-video a:after {
	content: '';
	width: 38px;
	height: 42px;
	background-image: url(../images/05.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
}
.title-box {
	/* background: #F8F8F8; */
	margin-bottom: 16px;
}
.title-box .infor{
	text-transform: capitalize;
	font-weight: 700;
	line-height: 48px;
}
.title-box .infor p {
	font-size: 1.5rem;
}
.title-box .title {
	display: inline-block;
	/* background-image: url(../images/06.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; */
	/* color: #fff; */
	padding: 6px 40px 6px 0px;
	margin-bottom: 0;
	position: relative;

	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
	-webkit-background-clip: text;
	background-clip: text;
  	color: transparent;
  	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
}

.tit-border-right-page .title-box .title{
	background: #232d39;
	padding-right: 10px;
}
.tit-border-right-page .title-box .title p{
	font-size: 18px;
}
.tit-border-right-page .title-box .title::after{
	position: absolute;;
	left: 100%;
	top: 0px;
	content: "";
	z-index: 1;
	background: url('../images/border-right.png')center bottom no-repeat;
	background-size: contain;
	width: 32px;
	height: 100%;
	display: block;
}
.module_blogs .content-name {
	margin-bottom: 8px;
}
.module_blogs .content-name a {
	font-size: 15px;
	font-weight: 500;
	color: #1D2229;
}
.module_blogs .content-name a:hover {
	color: #FEC769;
}
.module_blogs .content-days {
	color: #778397;
	font-size: 12px;
	margin-bottom: 0;
}
.module_blogs .content-excerpt p {
	margin-bottom: 0;
}
.module_blogs .content_list .item {
	padding: 8px 0;
	border-bottom: 1px solid #E5E5E5;;
}
.module_blogs .content_list .row > *:first-child .item {
	padding-top: 0;
}
.module_blogs .content_list .row > *:last-child .item {
	border-bottom: none;
	padding-bottom: 0;
}
.module_blogs .content_list .content-header {
	display: flex;
	flex-wrap: wrap;
}
.module_blogs .content_list .content-image {
	/* width: 120px; */
}
.module_blogs .content_list .content-box {
	/* width: calc(100% - 120px); */
	/* padding-left: 10px; */
}
.module_blogs .content_list.style_02 .row > * .item {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 12px;
}
.module_blogs .content_list.style_02 .row > * .item:first-child {
	padding-top: 0;
}
.module_blogs .content_list.style_02 .row > * .item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.module_blogs .content_list.style_02 .content-image {
	/* width: 227px; */
}
/*.module_blogs .content_list.style_02 .content-image img {
	height: 100%;
	object-fit: cover;
}*/
.module_blogs .content_list.style_02 .content-box {
	/* width: calc(100% - 227px); */
	position: relative;
	top: -5px;
	/* padding-left: 16px; */
}
.module_blogs .content_list.style_02 .content-name {
	line-height: 20px;
}
.module_blogs .content_list.style_02 .content-days {
	margin-bottom: 8px;
	line-height: 15px;
}
.module_blogs .content_list.style_02 .content-excerpt {
	font-size: 15px;
	line-height: 22px;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.module_blogs .content_list.style_02 .content-excerpt p {
	margin-bottom: 0;
}
.module_blogs .content_list.style_02 .active .item {
	padding-bottom: 0;
	border-bottom: none;
}
.module_blogs .content_list.style_02 .active .content-header {
	flex-wrap: wrap;
}
.module_blogs .content_list.style_02 .active .content-box,
.module_blogs .content_list.style_02 .active .content-image img,
.module_blogs .content_list.style_02 .active .content-image {
	width: 100%;
}
.module_blogs .content_list.style_02 .active .content-box {
	padding: 8px 0 0;
}
.module_blogs .content_list.style_02 .active .content-excerpt {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.module_blogs .content_grid .row {
	margin: -20px -10px;
}
.module_blogs .content_grid .row > * {
	padding: 20px 10px;
}
.module_blogs .content_grid .content-days {
	display: none;
}
.module_blogs .content_grid.style_02 .item {
	width: calc(100% / 5);
}
.swiper-brands .swiper-pagination {
	position: relative;
	margin-top: 30px;
}
#header .inner-header {
	background-image: url(../images/12.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left center;
	display: none;
}
.penci-topbar-social .inner-header-social a {
	color: #FEC769;
}



#navigation .container {
    max-width:718px;
}
@media (min-width:1024px) {
	#navigation .container {
		max-width:1824px;
	}
}


#navigation .container {
    background: #232D39;
    border-radius: 16px;
	/* height: 70px; */
}
#navigation ul {
	margin-bottom: 0;
}
#navigation ul.menu .current-menu-item {
	/* margin-right: 46px; */
	/* padding: 0 10px 0 10px; */
	border-bottom: 2px solid #FEC769;
}
#navigation .menu li a {
	color: #fff;
}
#navigation ul.menu > li:hover > a,
#navigation .menu > li.current-menu-ancestor > a,
#navigation .menu li.current-menu-item > a,
#navigation .menu > li.current_page_item > a,
#navigation .menu li a:hover {
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#navigation ul.menu > li > a {
	padding: 24px 8px 24px 8px;;
}
#navigation ul.menu > li > a:before {
	background-color: transparent;
}
#navigation .menu li.icon-home a {
	font-size: 0;
	display: flex;
    align-items: center;
}
#navigation .menu li.icon-home a:after {
	display: inline-block;
	content: "\f015";
	font-family: 'FontAwesome';
	font-weight: normal;
	color: #fff;
	font-size: 25px;
}
#navigation .menu li.icon-home a:hover:before {
	display: none;
}
#navigation .menu li.icon-home a:hover:after {
	color: #FEC769;
}
#navigation .menu .sub-menu li a {
	color: #313131;
}
#navigation .menu .sub-menu li a:hover {
	color: #FEC769;
}
#navigation .button-menu-mobile {
	color: #fff;
	font-size: 30px
}

.widget_nav_menu .menu li {
	border-bottom: none;
	position: relative;
}
.widget_nav_menu .menu li.icon-adress:before {
	content: '';
	width: 17px;
	height: 21px;
	display: inline-block;
	background-image: url(../images/09.png);
	margin-right: 14px;
}
.widget_nav_menu .menu li.icon-phone:before {
	content: '';
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url(../images/10.png);
	margin-right: 14px	
}
.widget_nav_menu .menu li.icon-mail:before {
	content: '';
	width: 16px;
	height: 14px;
	display: inline-block;
	background-image: url(../images/11.png);
	margin-right: 14px	
}
.footer-widget-wrapper.footer-widget-style-7 {
    width: 32%;
}
.footer-widget-wrapper.footer-widget-style-7:first-child {
    width: 15%;
}
.footer-widget-wrapper.footer-widget-style-7.last {
    width: 46%;
}
.module_toggle_content {
	margin-bottom: 40px;
}
.module_toggle_content .module_content {
	display: none;
}
.module_toggle_content.active .module_content {
	display: block;
}
.module_toggle_content .title-box {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 18px;
}
.module_toggle_content .title-box:after {
	content: '+';
	display: inline-block;
	font-size: 22px;
}
.module_toggle_content.active .title-box:after {
	content: '-';
	font-size: 40px;
}
.title-box.style_02 {
	background: none;
}
.title-box.style_02 .title {
	background: none;
	border-left: 3px solid #c70039;
	padding: 0 0 0 10px;
}
.title-box.style_02 .title p {
	font-weight: 500;
	color: #222;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}
.title-box.style_02 .title p:before {
	display: none;
}
.module_categories .content {
	/* border-bottom: 1px dotted #000; */
	padding-bottom: 10px;
	margin-bottom: 8px;
}
.module_categories .content-box{
	margin-top: 12px;
}
.module_categories .content-excerpt p {
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 22px;
	color: #5C6267;
	font-style: normal;
	font-weight: 400
}
.module_categories .content-name {
	margin-bottom: 0;
	line-height: 24px;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	
}
.module_categories .content-name a p {
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0;
}
.module_categories .module_description{
	font-family: 'Roboto',sans-serif;
	line-height: 27px;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

.module_categories .title-box .title:before{
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-right: 10px;
}
.module_categories .title-box .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #FEC769;
    margin-bottom: 0;
}
.wrapper-boxed {
	overflow: initial;
}
#sidebar {
	position: sticky;
    top: 95px;
}
.module_features .content-image {
	/* text-align: center; */
	/* margin-bottom: 35px; */
}
.module_features .content-image .image {
	display: inline-block;
}

.module_features .title-box .title:before{
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-right: 10px;
}
.module_features .title-box .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #FEC769;
    margin-bottom: 0;
}

.box-brand-radius-style .row{
	justify-content: center;
}
.box-brand-radius-style .content-image{
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 0px !important;
}
.box-brand-radius-style .content{
	border-bottom: 0px dotted #000 !important;
	text-align: center;
}
.box-brand-radius-style .content p{
	margin-bottom: 0px;
}
.box-brand-radius-style .row .content-name p {
	margin-bottom: 5px;
}
.box-brand-radius-style .content-image .image{
	border-radius: 100%;
	display: block;
	background: #232d39;
	position: relative;
	height: auto;
	overflow: hidden;
	padding-top: 100%;
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	margin: 20px auto;
	border: solid 5px #ecebeb;
	margin-top: -80px;
}
.box-brand-radius-style .content-image .image img{
	width: 100%;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	object-fit: scale-down;
	bottom: 0;
	left: 0;
	object-position: 50% 50%;
}
.box-content-image-style{
	margin-top: 30px;
}
.box-content-image-style .entry-content img{
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	margin-bottom: 0px;
}
.module_features .content-name p {
	color: #222;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}
.module_features .content {
	padding-bottom: 10px;
	/* margin-bottom: 35px; */
	border-bottom: 1px dotted #000;
}
.module_button {
	text-align: center;
}
.module_button .btn {
	background-color: #3a3a3a;
    color: #ffffff;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    text-transform: uppercase;
}
.module_button ul {
	margin: -15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}
.module_button li {
	padding: 15px;
	list-style: none;
}
.post-entry .module_button li {
	list-style: none;
	margin-bottom: 0;
}
.module_button.style_01 {
	border-bottom: 1px solid #50485b;
}
.module_button.style_01:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #50485b;
	margin-top: 20px;
	margin-bottom: 2px;
	display: block;
}
.module_button.style_01 .btn {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2em;
}
.module_button.style_02 ul {
	justify-content: flex-start;
}
.module_button.style_02 .btn {
	background-color: #013149;
}
.container.penci_sidebar .penci-masonry {
	display: flex;
	flex-wrap: wrap;
	height: auto !important;
}
.container.penci_sidebar .penci-masonry .item-masonry {
	width: calc(100% / 3);
	position: initial !important;
	float: none;
}
.container.penci_sidebar .penci-masonry .item-masonry.grid-masonry-2 {
	width: 50%;
}
/*.penci-page-header {
	text-align: left;
	margin-bottom: 10px;
}*/
/*.penci-page-header h1,*/
.widget_block .widgettitle  {
    display: inline-block;
    background-image: url(../images/06.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 10px 40px 10px 50px;
    margin-bottom: 15px;
    font-size: 24px;
    position: relative;
}
/*.penci-page-header h1:before,*/
.widget_block .widgettitle:before {
    content: '';
    display: inline-block;
    background-image: url(../images/07.png);
    width: 21px;
    height: 32px;
    margin-right: 13px;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}
.penci_latest_news_widget .side-image {
	width: 70px;
	margin-right: 0 !important;
}
.penci_latest_news_widget .side-image a {
	width: 100%;
}
.penci_latest_news_widget .side-item-text {
	width: calc(100% - 70px);
	padding-left: 15px;
}
.penci_latest_news_widget .side-item-text h4 {
	margin-bottom: 0;
}
/*/////////////////////////////////*/
#header .inner-header .container.align-left-logo > * {
	padding: 0 15px;
}
#footer-section,
.penci-footer-social-moved,
#widget-area,
.penci-top-bar {
    background: #232D39;
}
.penci-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.penci-headline:before,
.penci-headline:after {
	display: none;
}
.penci-topbar-social .inner-header-social a {
    width: 36px;
    height: 36px;
    line-height: 34px;
    background: none;
    color: #313131;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 5px;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
}

.footer-widget-wrapper.footer-widget-style-7:first-child {
    width: 15%;
}
.footer-widget-wrapper.footer-widget-style-7 {
    width: 45%;
}
#widget-area .footer-widget-wrapper.last {
    margin-right: 0;
}
.footer-widget-wrapper.footer-widget-style-7.last {
    width: 30%;
}
.widget-social.pc_alignright {
	text-align: left;
}
.module_video .module_content > h3 {
	font-size: 20px;
}
/*.module_toggle_content {
	margin-bottom: 20px;
}*/
.module_toggle_content .title-box.style_02 {
	justify-content: flex-start;
}
.module_toggle_content .title-box.style_02 .title {
	border: none;
    order: 2;
}
.module_toggle_content .title-box.style_02:after {
    order: 1;
    width: 22px;
    height: 22px;
    text-align: center;
    border: 2px solid #222;
    border-radius: 20%;
    line-height: 18px;
}
/*/////////////////////////////////*/
@media (max-width: 1199px) {
	.penci-page-header,
	.container {
	    max-width: 960px;
	}
	.wp-block-columns {
		flex-wrap: wrap;
	}
	.wp-block-column:not(:only-child),
	.wp-block-column {
		flex-basis: 100% !important;
	}
	.wp-block-column {
		margin-bottom: 30px;
	}
	.wp-block-column:last-child {
		margin-bottom: 0;
	}
	.wp-block-column:nth-child(2n) {
	    margin-left: 0;
	}
	.swiper .swiper-arrow {
		left: 15px;
	}
	.swiper .swiper-arrow.swiper-next {
	    left: auto;
	    right: 15px;
	}
	.module_blogs .content_grid.style_02 .item {
	    width: calc(100% / 3);
	}
	#navigation ul.menu > li {
	    margin-right: 30px;
	}
}
@media (max-width: 991px) {
	.penci-page-header,
	.container {
	    max-width: 720px;
	}
	.widget-social.pc_alignright {
	    text-align: left;
	}
	.module_slider .module_content {
	    padding-bottom: 10px;
	}
	.module_slider .group-box {
	    padding: 20px 47px 20px 24px;
	}
}
@media (max-width: 767px) {
	.penci-page-header,
	.container {
	    max-width: 540px;
	}
	.module_blogs .content_grid.style_02 .item {
	    width: calc(100% / 2);
	}
	.module_slider .group-box .text-title p {
		font-size: 22px;
	}
}
@media (max-width: 575px) {
}
@media (max-width: 479px) {
	.module_blogs .content_list.style_02 .content-box,
	.module_blogs .content_list.style_02 .content-image {
		width: 100%;
	}
	.module_blogs .content_list.style_02 .content-box {
		padding: 12px 0 0;
	}
	.module_blogs .content_grid.style_02 .item {
	    width: 100%;
	}
}
.lth-trietlydt .lth-contents {    
    padding-left: 20px;
    text-align: justify;
}
.lth-trietlydt span {
    display: block;
}
.lth-trietlydt span.fa {
    font-size: 20px;
}
.lth-trietlydt span:last-child {
    text-align: right;
}
@media (min-width: 768px) {
	.lth-trietlydt p {
		max-width: 50%;
	}
}
.entry-tv-footer {
    text-align: center;
    border-top: 1px dashed #000;
    padding-top: 30px;
}
.entry-tv-footer p {
    margin-bottom: 0;
}
.entry-tv-footer h4 {
    font-size: 16px;
}
.entry-tv-footer small {
    font-size: 14px;
}
.btnMoreDetails {
    border: 2px solid rgb(199, 0, 57);
    color: rgb(199, 0, 57);
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
    margin-top: 20px;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
}
.btnMoreDetails:hover {
    background-color: rgb(199, 0, 57);
    color: #fff;
}
.bds-cat-section .wp-block-column .entry-content a {
    height: 200px;
    display: block;
    overflow: hidden;
}
.bds-cat-section .wp-block-column .entry-content a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.module_features .content {
	border-bottom: 0px dotted #000;
}

.stnd-featured-1 .content-image .image > img {
	/* width: 405px;
	height: 270px; */
}
.stnd-featured-2 .content-image .image > img {
	width: 624px;
	height: 270px;
}
.stnd-block-features .content-image .image > img {
	width: 246px;
	height: 146px;
}
.wp-block-lazyblock-lth-categories .content{
	border-bottom: 0px dotted #000;
}

.bg-section-1{
    --tw-bg-opacity: 1;
    background-color: #F7F6F2;
}

@media (min-width: 320px) {
	.banner .lth-section {
		background-position-x: 31% !important;
	}
}

@media (min-width: 640px) {
	.banner .lth-section {
		background-position-x: 31% !important;
	}
}
@media (min-width: 768px) {
	.banner .lth-section {
		background-position-x: 28% !important;
	}
}
.banner .lth-section {
	background-size: cover !important;
	background-position-y: 16% !important;
	height: 100%;
}
.bottom-logo img{
	width: 60px;
	height: 78px;
}
.footer-widget-wrapper{
	padding-top: 32px;
}

.footer-widget-wrapper .widget .widget-title span {
	border-bottom: none !important;

}

.widget-title {
	color: #FFFFFF;
	font-size: 1rem;
	font-weight: 500; /* 700 = bold */
	text-transform: uppercase; /* IN HOA */
	line-height: 24px;
	position: relative;
	/* padding-bottom: 12px; */
}

.polygon-icon {
  display: inline-block;
  width: 20px;  /* Set kích thước Oniichan muốn */
  height: 20px;
  
  /* --- GỌI HỒN EM NÓ VÀO ĐÂY --- */
  background-image: url('/wp-content/themes/soledad/icons/Polygon-2.svg'); 
  /* ------------------------------- */
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-widget-wrapper .menu-item a::before {
  content: ''; 
  display: inline-block;
  width: 16px; 
  height: 16px;
  margin-right: 8px; /* Nếu không dùng flex, phải dùng margin */
  
  /* Dùng làm hình nền */
  background-image: url('/wp-content/themes/soledad/icons/Polygon-2.svg');
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  /* Dùng cách này để căn icon với chữ (nếu không dùng flex) */
  vertical-align: middle; 
}

.widget ul li a {
    font-size: 14px;
    font-style: normal;
    line-height: 1.75;
}
/* #widget-area {
  
  background-color: #F5F5F5 !important; 
} 
*/

.email-icons {
  display: inline-block;
  width: 40px;
  height: 40px;

  /* --- GỌI HỒN EM NÓ LÀM "KHUÔN" --- */
  -webkit-mask-image: url('/wp-content/themes/soledad/icons/email.svg');
  mask-image: url('/wp-content/themes/soledad/icons/email.svg');
  /* ---------------------------------- */

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* --- TÔ MÀU VÀO KHUÔN --- */
  background-color: #f5f4f0; /* Icon sẽ auto có màu vàng */
  transition: background-color 0.2s;
}

.location-icons {
  display: inline-block;
  width: 40px;
  height: 40px;

  /* --- GỌI HỒN EM NÓ LÀM "KHUÔN" --- */
  -webkit-mask-image: url('/wp-content/themes/soledad/icons/location.svg');
  mask-image: url('/wp-content/themes/soledad/icons/location.svg');
  /* ---------------------------------- */

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* --- TÔ MÀU VÀO KHUÔN --- */
  background-color: #f5f4f0; /* Icon sẽ auto có màu vàng */
  transition: background-color 0.2s;
}

.telephone-icons {
  display: inline-block;
  width: 40px;
  height: 40px;

  /* --- GỌI HỒN EM NÓ LÀM "KHUÔN" --- */
  -webkit-mask-image: url('/wp-content/themes/soledad/icons/telephone.svg');
  mask-image: url('/wp-content/themes/soledad/icons/telephone.svg');
  /* ---------------------------------- */

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* --- TÔ MÀU VÀO KHUÔN --- */
  background-color: #f5f4f0; /* Icon sẽ auto có màu vàng */
  transition: background-color 0.2s;
}

.arrow-right-icons {
  display: inline-block;
  width: 7px;
  height: 13px;

  /* --- GỌI HỒN EM NÓ LÀM "KHUÔN" --- */
  -webkit-mask-image: url('/wp-content/themes/soledad/icons/stnd-arrow-right.svg');
  mask-image: url('/wp-content/themes/soledad/icons/stnd-arrow-right.svg');
  /* ---------------------------------- */

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* --- TÔ MÀU VÀO KHUÔN --- */
  background-color: currentColor; /* Icon sẽ auto có màu vàng */
  transition: background-color 0.2s;
}
.header-logo{
	float: left;
    width: 41px;
    height: 54px;
    margin-right: 130px;
    padding-top: 8px;
}

.penci-mainlogo{
	/* float: left; */
    width: 41px;
    /* height: 54px;
    margin-right: 130px;
    padding-top: 8px;
    margin-left: 50px; */
}
.module_blogs .content-image{
	/* width: 230px; */
	/* height: 150px; */
}
.module_blogs .content-image img{
	border-radius: 16px;
}

.module_blogs .content-box{
	/* padding-top: 10px;
	padding-right: 32px; */
}

.module_blogs .nav-pills .nav-link.active{
	color: #fff;
    background-color: #232D39;
}
.module_blogs .nav-pills .nav-link {
	border: 1px solid #E1E1E1;
    border-radius: 10px;
}
.module_blogs .nav-link{
	color: #232D39;
}
.module_blogs .nav-link:focus, .nav-link:hover {
    color: #232D39;
}
.module_blogs .nav-item{
	margin-right:10px
}
.module_blogs .tab-content{
	padding-top: 10px;
}

.thu-ngo{
	/* border: 2px solid;
	border-image-source: linear-gradient(73.08deg, #FFD45C 0%, rgba(250, 210, 76, 0) 44.66%, #FFD45C 100%); */
	border: 2px solid #FFD45C;
	border-radius: 12px;
	padding: 32px;
	
}

@media (min-width: 640px) {
    .thu-ngo-bg .lth-section {
        max-height: 1815px;
		height: 1200px;
    }
}
@media (min-width: 768px) {
    .thu-ngo-bg .lth-section {
        max-height: 968px;
    }
}
@media (min-width: 1024px) {
    .thu-ngo-bg .lth-section {
        max-height: 800px;
    }
}
@media (min-width: 1280px) {
    .thu-ngo-bg .lth-section {
        max-height: 848px;
		height: 848px;
    }
}

.thu-ngo-bg .lth-section{

    background-size: cover !important;
    background-position-y: 0% !important;
	z-index: 1;
	margin-bottom: 0px !important;
}

.thu-ngo-bg .lth-section::after{
	content: '';
    position: absolute;
	z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/* background: linear-gradient(0deg, rgba(30, 41, 49, 0.60) 0%, rgba(30, 41, 49, 0.60) 100%); */
	border-radius: 16px;
}
.thu-ngo-bg{
	 /* opacity: 0.4; */
}
.vision-block{
	padding-top: 5rem;
}
.vision-block .item{
	padding: 0 0.5rem 0 0.5rem;
}
.vision-block .image>img{
	width: 237px;
    height: 201px;
}
.title-thungo{
	
	font-family: 'Snell Roundhand',sans-serif;
	font-weight: 700;
	font-style: Bold;
	font-size: 30px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	/*text linear-gradient*/
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}
.home-page-slider img{
	width: 1824px;
	height: 640px;
}
.penci-page-header-background{
	padding-top:6px;
}
.wp-block-lazyblock-lth-blogs-tab .content-image {
	/* width: 230px !important; */
    /* height: 150px !important; */
	/* background: #232D3952; */
	
}
.wp-block-lazyblock-lth-blogs-tab img {
	
    height: 100% !important;
}

.style-01 .module_blogs .item{
	border: 1px solid #E1E1E1;
	border-radius: 16px;
	/* padding:12px; */
	/* margin-bottom: 38px; */
	padding: 12px 12px 12px 12px;
}
.style-01 .module_blogs img{
	height: 181px;
    width: 242px;
}

.style-01 .module_blogs .content-image {
	/* width: 296px !important; */
    /* height: 208px !important; */
	--tw-translate-y: calc(calc(1 / 7 * 100%) * -1);
    transform: translateY(var(--tw-translate-y));
}

.style-01 .module_blogs .content-name p:after {
    background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-right: 10px;
}
.style-01 .module_blogs .content-name p {
	font-size: 20px;
	font-weight: 500;
}
.style-02 .module_blogs .content-image{
	/* width: 140px !important; */
    /* height: 96px !important; */
}
.style-02 .module_blogs .title-box .title p{
	display: block;
	font-size: 24px;
    font-weight: 500;
}
.style-02 .module_blogs .title-box .title p:before{
	display: none !important;
}
.style-02 .module_blogs .title-box .title p::after{
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-right: 10px;
}
.style-02 .module_blogs .title-box .title::before{
	content: none;
}

.style-02 .content_list .item {
    
    border-bottom: 1px solid #E5E5E5;
}

.style-02 .module_blogs .title-box .title{
	text-transform: capitalize;
	/* background: linear-gradient(86.24deg, #d34e4e 1.16%, #9E5625 128.11%); */
	background: linear-gradient(86.24deg, #060606  1.16%, #9E5625 128.11%);

	display: inline-block;
    /* color: #fff; */
    padding: 6px 40px 6px 0px;
    margin-bottom: 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    
}

.penci-page-header{
	position: relative;
	z-index: 1;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-position-y: 16%;
	height: 425px;
	max-width: 1824px;
	border-radius: 16px;
	background-size: cover;
	background-repeat: no-repeat;;
	background-color: linear-gradient(0deg, rgba(25, 30, 34, 0.6) 0%, rgba(30, 41, 49, 0.60) 100%), lightgray 0px -141.295px / 100% 508.834%;
	
}
.penci-page-header::before{
	content: '';
    position: absolute;
	z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: linear-gradient(0deg, rgba(30, 41, 49, 0.60) 0%, rgba(30, 41, 49, 0.60) 100%);
	border-radius: 16px;
}

.theiaStickySidebar .penci-page-header h1{
	z-index: 3;
	position: relative;
	font-size: 48px;
    color: #fdfdfd;
    text-transform: uppercase;
    line-height: 56px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto',sans-serif;
}

.penci-page-header-category h1{
	z-index: 3;
	position: relative;
	font-size: 48px;
    color: #fdfdfd;
    text-transform: uppercase;
    line-height: 56px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto',sans-serif;
}
.penci-mobile-logo{
	/* padding: 0 0 0 58px; */
}

@media (min-width: 640px) {
	#widget-area{ margin-top: 82px; }
}
@media (min-width: 768px) {	
	#widget-area{ margin-top: 94px;}
}

@media (min-width: 1024px) {	
	#widget-area{ margin-top: 34px;}
}
.googlemap-location .lth-section{
	background-size: cover !important;
    background-position-y: 16% !important;
    height: 100%;
}

.thong-tin-cong-ty .title-content-01 h2:after {
    background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-right: 10px;
}


.thong-tin-cong-ty .title-content-01 h2 {
    line-height: 36px;
	font-size: 24px !important;
	font-weight: 600;
}

.lien-he-voi-chung-toi .title-box .title:before{
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-right: 10px;
}
.lien-he-voi-chung-toi .title-box .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.dat-lich-center .title-box .title {
    justify-content: center;
}
.dat-lich-center .title-box  {
    text-align: center ;
}

.lien-he-voi-chung-toi .lth-section{
	border-radius: 12px;
	padding: 24px;
	background-color: #232d39;
}
.lien-he-voi-chung-toi .infor p{
	color: white;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
}
.lien-he-voi-chung-toi .title p{
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.lien-he-voi-chung-toi input, .lien-he-voi-chung-toi select,.lien-he-voi-chung-toi textarea {
	border-radius: 8px;
	background-color: #2F3B4B;
	border: 1px solid #455366 ;
	
}
.lien-he-voi-chung-toi input::placeholder, .lien-he-voi-chung-toi select::placeholder,.lien-he-voi-chung-toi textarea::placeholder,
.lien-he-voi-chung-toi select option,.lien-he-voi-chung-toi select {
	color: #ADB5BC;
	
}
.lien-he-voi-chung-toi select option {
	/* background-color: #ADB5BC; */
}
.lien-he-voi-chung-toi input[type="submit"]{
	background: radial-gradient(92.46% 138.54% at 49.35% 100%, #FFD45C 0%, #9E5625 100%);
	border-radius:12px;
	color:white
}
.lien-he-voi-chung-toi input[type="submit"]:hover{
	background-color:white !important;
	color: #F59E0B;
}

.lien-he-voi-chung-toi textarea {
    width: 100%;
    padding: 0.75rem; /* 12px */
    color: #FFF; /* Chữ trắng khi gõ */
    box-sizing: border-box; /* Rất quan trọng! */
}
.lien-he-voi-chung-toi textarea:focus,.lien-he-voi-chung-toi input:focus,.lien-he-voi-chung-toi select:focus {
    outline: none;
    border-color: #F59E0B; /* Đổi viền màu vàng */
    /* box-shadow: 0 0 0 1px #F59E0B;  */
}
.lien-he-voi-chung-toi label{
	font-size:14px;
	font-weight:500;
	line-height:22px;
	font-style:normal
}

.required-mark {
    color: #EF4444; /* text-red-500 */
    font-weight: bold;
    
}
#menu-cong-ty-tnhh-dau-tu-stnd-top .menu-item{
	/* flex:none; */
}

li.nav-item::marker {
  content: none;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi ul{
	padding: 8px;
    border: 1px solid #E1E1E1;
    border-radius: 16px;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .nav-link {
	border:0px solid black !important;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi ul li{
	margin-bottom: 0px !important;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-button::after {
    background-image: none;
    content: '+';
	font-size: 2rem;
	font-weight: 300;
	transform: none;
  	transition: none;
	line-height: 20px;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-button:not(.collapsed)::after {
    content: '−';
	transform: none;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-button{
	border: 1px solid transparent;
    background-color: transparent;
	text-transform: capitalize;
	padding: 0.7rem 1.2rem;
	font-weight: 600;
	
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-button:not(.collapsed){
	
    box-shadow: none;
	
	

	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .collapse{
	visibility:inherit !important;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-header{
	margin-bottom: 0px;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-item{
	
    
	background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 12px;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-item:focus-visible {
	border: 1px solid #FFD45C;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-item:hover {
	border: 1px solid #FFD45C;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-button:focus{
    box-shadow: none;
	border-color: transparent;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi button:focus:not(:focus-visible) {
    outline: inherit;
}

.tieu-chuan-lua-chon-cong-ty-moi-gioi .title-box .title:before {
    background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-right: 10px;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .title-box .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #FEC769;
    margin-bottom: 0;
}


.module_blogs .title-box .title:before{
	background: linear-gradient(86.24deg, #FFD45C 1.16%, #9E5625 128.11%);
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    margin-right: 10px;
}
.module_blogs .title-box .title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #FEC769;
    margin-bottom: 0;
}

@media ((min-width: 640px)) {
	.dich-vu-ky-gui-nha-dat-chuyen-nghiep .content-image{
		width:331px;
	}
}
@media ((min-width: 1024px)) {
	.dich-vu-ky-gui-nha-dat-chuyen-nghiep .content-image{
		width:388px;
	}
}

.penci-page-header-category .entry-description {
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	color: white;
	z-index: 3;

}
.stnd-tieu-chuan-dich-vu .content-image .image > img{
	width: 284px;
    height: 128px;
}

@media ((min-width: 640px)) {
.stnd-gioi-thieu-dich-vu .content-image .image > img{
	width: 285px;
    height: 280px;
}
}

@media ((min-width: 1024px)) {
.stnd-gioi-thieu-dich-vu .content-image .image > img{
	width: 296px;
    height: 310px;
}
}

.tieu-chuan-dich-vu .content-image .image > img{
	width: 386px;
    height: 128px;
}
.tieu-chuan-dich-vu ul{
	background: white;
}
.tieu-chuan-dich-vu .content-image{
	border: 1px solid #E1E1E1;
    border-radius: 16px;
}
.tieu-chuan-lua-chon-cong-ty-moi-gioi .accordion-item {
	margin-bottom: 0px;
}

.tab-pane .accordion-item{
	position: relative;
	border: 1px solid #eaab39;
}
.tab-pane .shield-box {
	position: absolute;
	top:0;
	left: 0;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	rotate: 45deg;
	display: flex;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: radial-gradient(92.46% 138.54% at 49.35% 100%, #FFD45C 0%, #9E5625 100%);
}
.tab-pane .shield-box .number{
	color: #fff;
	rotate: -45deg;
	font-size: 16px;
	font-weight: 700;
	font-family: Roboto;
	font-style: Bold;

}
.dich-vu-tu-van .content-image img{
	width: 398px;
}


.bg-custom-yellow .title-custom-width {
    position: relative; 
    display: inline-block; 
    padding-bottom: 10px; 
	font-weight: 600;
	font-size: 24px;
	text-transform: capitalize;
}

/* Vẽ gạch chân 'giả' */
.bg-custom-yellow .title-custom-width::after {
    content: ''; 
    position: absolute; 
    bottom: 0;  
    left: 0;   
    height: 3px;         
    background-color: #333; 
    width: 50px; 

}
